<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: section">

<section>
    <h2>🌸 Servicio Destacado 🌸</h2>

    <p>
        Descubre nuestro nuevo tratamiento capilar premium,
        diseñado para darle vida, brillo y suavidad a tu cabello.
    </p>

    <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/bcoDJ-NGvE4?si=z0C46h3XWFlTA0Ke" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
</section>

</html>

 